.git
**/.git
**/node_modules
**/.vite-plus
**/dist
**/.DS_Store
apps/web/src
apps/web/public
apps/web/scripts
apps/web/test
apps/web/index.html
native
docs
**/*.md
!guest/**
!deploy/**
**/*.test.ts
**/*.test.tsx
**/*.test.go
