node_modules
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
packages/*/dist
.env
.env.local
.env*
!.env.example
.vite-plus
apps/*/.vite-plus
packages/*/.vite-plus
.vite-hooks/_
.tanstack
.idea/
.vercel
.vitest-*
__screenshots__/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
